.Profile-container{
    background-color: purple;
    margin: auto;
    width: 50%;
    border: 5px solid blue;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    text-align: center;
    box-sizing: border-box;
}
.Profile-container img:hover{
    transform: scale(2,2);
}
.headers h2{
    color: rgb(102, 255, 201);
    text-align: center;
    text-shadow: 1px 1px 2px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}   
.headers h3{
    color: aqua;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px aqua;
    text-align: center;
}
.image:hover{
    transform: scale(1,1);
}
.cont{
    font-weight: bold;
    text-align: center;
}